<h1>LOGO HERE</h1>
<br></br>

<h1>Jewelry</h1>

<h3>  
Our entire collection is handmade ranging from the whimsical fun pieces to the vintage heirloom pieces. All are original designs, most being one of a kind works of art. All pieces can be adjusted to needed sizes. Custom work is available. </h3>


<%= image_tag "moon lady.jpg" %>

<%= image_tag "fall agate.jpg" %>

<%= image_tag "blue green agate.jpg" %>

<%= image_tag "bunny herb.jpg" %>

<%= image_tag "moon mama one.jpg" %>

<%= image_tag "jewels one.jpg " %>

<%= image_tag "na.jpg" %>

<%= image_tag "river rock two.jpg" %>

<%= image_tag "pendant.jpg" %>

<%= image_tag "the cuffs.jpg" %>

<%= image_tag "rainbow cuff.jpg" %>

<%= image_tag "turq cuff.jpg" %>

<%= image_tag "purple cuff.jpg" %>

<%= image_tag "peyoty one.jpg" %>

<%= image_tag "peyoty two.jpg" %>

<%= image_tag "memory bracletes.jpg" %>

<%= image_tag "silver braclet two.jpg" %>

<%= image_tag "gold wire braclet.jpg" %>

