<h1>Pictures</h1>
<br></br>

<div class="picture_page_images">
<%= image_tag "orion.jpg" %>
<%= image_tag "romeo.jpg" %>
<%= image_tag "winston.jpg" %>
<%= image_tag "cheyenne.jpg" %>
<%= image_tag "dolly.jpg" %>
<%= image_tag "Clive.jpg" %>
<%= image_tag "mariana.jpg" %>
<%= image_tag "goat_1.JPG" %>
<%= image_tag "standing_goat.jpg" %>
</div>
