<!DOCTYPE html>
<html>
<head>
  <title>Dream Keeper Farm</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <li><%=link_to "Home", "/home" %></li>

<%= yield %>

</body>
</html>
